.titulo {
    text-shadow: 2px 2px 4px #000000;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}

body {
    background: lightblue;
}

a {
    text-decoration: none;
}

#navegacion {
    margin-top: 29px;
    font-size: 40px;
    text-shadow: 0 0 3px #FF0000;
}

.noticiaslocales{
    font-size: 15px;
    font-family: Cursive, Helvetica, sans-serif;
}

span{
    font-size: 15px;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 1000;
}

#libro {
    border-style: solid;
    border-radius: 16px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-width: 5px;
    width: 15%;
}